[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==5.*"
ansible-lint = "*"
ansible-navigator = "*"
ansible-pylibssh = "*"
docker = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
